<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm trẻ mới</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Thêm trẻ</h2>
<a href="/dashboard">← Quay về Dashboard</a><br><br>
<form th:action="@{/children/add}" method="post" th:object="${child}">
    Họ tên: <input type="text" th:field="*{name}"/><br>
    Ngày sinh: <input type="date" th:field="*{birthDate}"/><br>
    Giới tính: <input type="text" th:field="*{gender}"/><br>
    <button type="submit">Lưu</button>
</form>
</body>
</html>