<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="member/fragment/head :: head"></head>
<body>
<div class="wrapper">
    <div th:replace="member/fragment/header :: header"></div>
    <div th:replace="member/fragment/sidebar :: sidebar"></div>
    <div class="main-panel">
        <!--        chổ viết các content -->
        <div class="content">
            <h4 class="page-title">Trang chủ</h4>
            <h2>Xin chào, <span th:text="${#authentication.name}"></span>!</h2>
            <ul>
                <li><a th:href="@{/member/children}">Quản lý hồ sơ trẻ</a></li>
                <li><a th:href="@{/member/feedback}">Gửi góp ý</a></li>
                <li><a th:href="@{/profile}">Hồ sơ cá nhân</a></li>
            </ul>
        </div>
        <div th:replace="member/fragment/footer :: footer"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Currently, the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
                <p>
                    <b>We'll let you know when it's done</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="member/fragment/script :: script"></div>
</html>