<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link th:href="@{/assets/css/main.css}" rel="stylesheet">
  <style>
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/assets/img/hero-bg-abstract.jpg');
    }
  </style>
</head>

<body >
<div class="wrapper active" style="height: 530px;">
        <span class="icon-close">
            <a th:href="@{/index}">X</a>
        </span>

  <p th:if="${message}" th:text="${message}"></p>
  <div class="form-box register">
    <h2>Đổi mật khẩu</h2>
    <form  th:action="@{/reset-password}" method="post" >

      <div class="input-box">
        <span class="icon"><ion-icon name="mail"></ion-icon></span>
        <input class="form-control" type="text" name="email" required>
        <label>Email</label>
      </div>

      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        <input type="password" name="currentPassword" class="form-control"   required>
        <label>Current Password</label>
      </div>

      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        <input type="password" name="newPassword" class="form-control"   required>
        <label>New Password</label>
      </div>

      <button type="submit" class="btn">Update Password</button>
      <div class="login-register">
        <p>Bạn không muốn đổi mật khẩu? <a th:href="@{/user/profile}"
                                       class="login-link">Trang profile</a></p>
      </div>
    </form>
  </div>
</div>
<script th:src="@{/assets/js/login.js}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

