<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment/head :: head"></head>
<body>
<div class="wrapper">
  <div th:replace="admin/fragment/header :: header"></div>
  <div th:replace="admin/fragment/sidebar :: sidebar"></div>
  <div class="main-panel">
    <!--        chổ viết các content -->
    <div class="content">
      <h2>Chỉnh sửa Member</h2>
      <a class="btn btn-primary" th:href="@{/admin/member/manage}">Quay lại trang chủ</a>
      <form th:action="@{'/admin/member/' + ${member.id} + '/edit'}" th:object="${member}" method="post">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Form Control Styles</div>
          </div>
          <div class="card-body">

            <div class="form-group">
              <label >FULL NAME</label>
              <input type="text" class="form-control input-square" placeholder="Fullname" id="fullName" th:field="*{fullName}" required>
            </div>

            <div class="form-group">
              <label >EMAIL</label>
              <input type="email" class="form-control input-square" placeholder="Email" id="email" th:field="*{email}" required>
            </div>
            <div class="form-group">
              <label >Phone Number</label>
              <input type="text" class="form-control input-square" placeholder=phonenumber id="phone" th:field="*{phoneNumber}" required>
            </div>

            <div class="form-group">
              <label>Membership_plan</label>
              <select class="form-control" name="membershipPlanId">
                <option value="">-- Chọn gói --</option>
                <option th:each="plan : ${plans}"
                        th:value="${plan.id}"
                        th:text="${plan.name}"
                        th:selected="${member.idMembership != null && member.idMembership.id == plan.id}">
                </option>
              </select>
            </div>


          </div>
          <div class="card-action">
            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-primary" th:href="@{/admin/member/manage}">Quay lại trang chủ</a>
          </div>
        </div>
      </form>

    </div>
    <div th:replace="admin/fragment/footer :: footer"></div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Currently, the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
        <p>
          <b>We'll let you know when it's done</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
<div th:replace="admin/fragment/script :: script"></div>
</html>