<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link th:href="@{assets/css/main.css}" rel="stylesheet">
    <style>
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('/assets/img/hero-bg-abstract.jpg');
        }
    </style>
</head>

<body >
<div class="wrapper">
        <span class="icon-close">
            <a th:href="@{/index}">X</a>
        </span>
    <div class="form-box login">
        <h2>Login</h2>
        <div th:if="${param.error}" class="alert alert-danger" style="
            font-size: small;
            margin: 10px;
            color: #800000;
            align-content: center;
            background: #FF7F7F;
            font-style: italic;
            text-align: center;
            border-radius: 30px;
        ">
            Tên đăng nhập hoặc mật khẩu không đúng.
        </div>
        <div th:if="${param.success}" class="alert alert-success" style="
            font-size: small;
            margin: 10px;
            color: green;
            align-content: center;
            background: #98FB98;
            font-style: italic;
            text-align: center;
            border-radius: 30px;
        ">
            Đăng ký thành công! Vui lòng đăng nhập.
        </div>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}">
        </div>
        <form th:action="@{/login}" method="post">
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input type="text" name="username" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="Password" name="password" required>
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>Don't have an account? <a th:href="@{/register}"
                                             class="register-link">Register</a></p>
            </div>
        </form>
    </div>

</div>
<script th:src="@{assets/js/login.js}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
