<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="doctor/fragment/head :: head"></head>
<body>
<div class="wrapper">
    <div th:replace="doctor/fragment/header :: header"></div>
    <div th:replace="doctor/fragment/sidebar :: sidebar"></div>
    <div class="main-panel">
        <div class="content">
            <h2>Yêu cầu cần phản hồi</h2>

            <div th:if="${requests.isEmpty()}">
                <p>Không có yêu cầu nào.</p>
            </div>

            <div class="card">
                <table class="table table-bordered table-bordered-bd-warning mt-4">
                    <tr>
                        <th>ID</th>
                        <th>Lời nhắn</th>
                        <th>Ngày tạo</th>
                        <th>Hành động</th>
                    </tr>
                    <tr th:each="req : ${requests}">
                        <td th:text="${req.id}">1</td>
                        <td th:text="${req.message}">...</td>
                        <td th:texts="${#temporals.format(req.createdAt, 'dd/MM/yyyy')}"></td>
                        <td>
                            <a class="btn btn-warning" th:href="@{'/doctor/advice-requests/' + ${req.id} + '/response-form'}">Phản hồi</a>
                        </td>
                    </tr>
                </table>

                </div>
            </div>
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Currently, the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
                <p><b>We'll let you know when it's done</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="doctor/fragment/script :: script"></div>
</body>
</html>
